body {
    background: #FFFFFF;
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.beneficios {
    background: #FFFFFF; 
    padding: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#p1{
    font-size: 16px;
}

.p2{
    font-size: 16px
}

.itens { 
    font-style: italic;
}
 
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}